<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"> <!-- need to connect to Thymeleaf in order for this to work -->
<head th:replace="fragments :: head"></head>
    <body>
        <h1 th:text="${title}">Default Title</h1>
        <form method="post" th:object="${user}" class="form-signin">
            <div class="form-group">
                <label th:for="username">Username</label>
                <input type="text" th:field="*{username}"/>
                <span th:errors="*{username}" class="alert alert-danger"></span>
            </div>
            <p th:text="${usernameError}"></p>
            <div class="form-group">
                <label th:for="password">Password</label>
                <input type="password" th:field="*{password}"/>
                <span th:errors="*{password}" class="alert alert-danger"></span>
            </div>
            <div class="form-group">
                <label th:for="verify">Verify</label>
                <input type="password" th:field="*{verify}"/>
                <span th:errors="*{verify}" class="alert alert-danger"></span>
            </div>
            <div class="form-group">
                <label th:for="email">Email</label>
                <input type="email" th:field="*{email}"/>
                <span th:errors="*{email}" class="alert alert-danger"></span>
            </div>

            <p th:text="${verifyError}"></p>

            <input type="submit" value="Add User"/>

        </form>
    </body>
</html>