<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"> <!-- need to connect to Thymeleaf in order for this to work -->
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Add User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>
<form method="post" th:object="${user}">

    <div class="form-group">
        <label th:for="username">Username</label>
        <input type="text" th:field="*{username}"/>
        <span th:errors="*{username}"></span>
    </div>
    <p th:text="${usernameError}"></p>
    <div class="form-group">
        <label th:for="password">Password</label>
        <input type="password" th:field="*{password}"/>
        <span th:errors="*{password}"></span>
    </div>
    <div class="form-group">
        <label th:for="verify">Verify</label>
        <input type="password" th:field="*{verify}"/>
        <span th:errors="*{verify}"></span>
    </div>
    <div class="form-group">
        <label th:for="email">Email</label>
        <input type="email" th:field="*{email}"/>
        <span th:errors="*{email}"></span>
    </div>

    <p th:text="${verifyError}"></p>
    <input type="submit" value="Add User"/>

</form>
</body>
</html>