<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"> <!-- need to connect to Thymeleaf in order for this to work -->
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Login</title>

</head>
<body>
<h1 th:text="${title}">Default Title</h1>
<form method="post" style="max-width:600px;" th:object="${user}">

    <div>
        <label th:for="username">Username</label>
        <input type="text" th:field="*{username}" th:value="*{userId}"/>
        <span th:errors="*{username}"></span>
    </div>
    <div>
        <label th:for="password">Password</label>
        <input type="password" th:field="*{password}"/>
        <span th:errors="*{password}"></span>
    </div>

    <input type="submit" value="Login"/>

</form>
</body>
</html>