<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
    <h1><a href="/">My Blog!</a></h1>
    <form action="/" method="post"> <!-- must add the form ACTION so we are designating where the form is going! This is where we are routing. Need to type in /blog in search bar in order to not get a 404 error -->
        <label>
            <h2>Title</h2>
            <input type="text" name="title" value="{{title}}"/>
        </label>

        <div><b class="error">{{ title_error }}</b></div><!--Curly braces are as if we typed a print statement in the middle of our HTML -->

        <label>
            <h2>Blog</h2>
            <textarea name="text_body">{{ text_body }}</textarea> <!-- This is different from the attribute in the database -->
        </label>
        <div><input type="submit" value="Submit"/></div>
        <b class="error">{{ blog_error }}</b>
    </form>
{% endblock %}
